/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-Thin.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-Thin.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-Black.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-Black.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-ThinIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-ThinIta.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-BlackIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-BlackIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-Bold.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-BoldIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-BoldIta.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay ExtraBlack';
  src: url('webfonts/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-ExtBlk.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-ExtBlk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-ExtBdIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-ExtBdIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay ExtraBlack';
  src: url('webfonts/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-ExtBlkIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-ExtBlkIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-ExtLt.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-ExtLtIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay Hairline';
  src: url('webfonts/HelveticaNowDisplay-Hairline.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-Hairline.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay Hairline';
  src: url('webfonts/HelveticaNowDisplay-HairlineI.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-HairlineI.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-HairlineI.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-Light.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-Medium.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-LightIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-LightIta.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-MedIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-MedIta.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-Regular.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('webfonts/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
      url('webfonts/HelveticaNowDisplay-RegIta.woff') format('woff'),
      url('webfonts/HelveticaNowDisplay-RegIta.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


:root {
  --theme__color1: #FF7A00;
  --helveticaNowDisplay: 'HelveticaNowDisplay';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  line-height: 1.5;
  background-color: #fff;
  color: #231F20;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--helveticaNowDisplay);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 22px;
  font-weight: 500;
  color: #7B7979;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1155px;
  }
}



/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
}
@media (min-width: 992px) {
  .header-section .container {
    max-width: 1080px;
  }
}
@media (min-width: 1200px) {
  .header-section .container {
    max-width: 1300px;
  }
}
.header-section--white {
  color: #231F20;
}
.header-section--static {
  position: static;
}
.header_in {
  padding: 45px 0;
}
.header-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {

}
.header-logo img {

}

.main-menu {

}
.main-menu > ul {
  gap: 44px;
  display: flex;
  align-items: center;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-weight: 500;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color1);
}

.header-right {

}
.header-right a {
  font-weight: 500;
  transition: 0.3s;
}
.header-right a:hover {
  color: var(--theme__color1);
}

/* header-end */


/* ============ drop-menu ============ */
.drop-menu {
  background: #231F20;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  transform: translate(0,-100%);
  transition: 0.3s;
}
.drop-canvas-opened {
  overflow: hidden;
}
.drop-canvas-opened .drop-menu {
  transform: translate(0,0);
}
.drop-menu__in {
  padding-bottom: 50px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.drop-menu__in .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.drop-menu__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.drop-menu__title {
  padding: 44px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drop-menu__logo {

}
.drop-menu__logo img {

}
.drop-menu__closer {
  font-size: 32px;
  transition: 0.3s;
}
.drop-menu__closer:hover {
  color: var(--theme__color1);
}

.drop-menu__main {
  padding: 0 75px;
  display: flex;
  flex-grow: 1;
}
.drop-menu__left {
  width: 450px;
  margin-right: 30px;
  flex-shrink: 0;
}
.drop__main-menu {
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.drop__main-menu li {

}
.drop__main-menu li a {
  font-size: 48px;
  font-weight: 400;
  color: #A7A5A6;
  transition: 0.3s;
}
.drop__main-menu li a:hover {
  color: var(--theme__color1);
}

.drop-menu__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.drop-menu__social {
  display: flex;
  gap: 42px;
  align-items: center;
}
.drop-menu__social h4 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}
.drop-menu__social ul {
  display: flex;
  gap: 30px;
}
.drop-menu__social ul li {
  font-weight: 500;
}
.drop-menu__social ul li a {

}
.drop-menu__social ul li a:hover {

}
.drop-menu__r-cont {
  margin: 45px 0 0;
  padding: 45px 0 0;
  border-top: 1px solid #fff;
  width: 100%;
}
.drop-menu__r-cont h4 {
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 20px;
}
.drop-menu__r-cont p {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.drop-menu__r-ellipse-start {
  margin: auto 0 0;
  height: 215px;
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color1);
  color: #fff;
  border-radius: 50%;
}
.drop-menu__r-ellipse-start p {
  color: #fff;
}
/* ============ drop-menu-end ============ */



/* ============ footer-section ============ */
.footer-section {
  padding: 0 0 80px;
  background: #F3F3F3;
  background: url('images/footer-bg.png') no-repeat center center/100% 100%;
}
.footer-section__inner {

}

.footer__top-cta {
  padding: 375px 0 244px;
}
.footer__top-cta .bottom-button {
  margin-top: 66px;
}

.footer__main {
  border-top: 1px solid #231F20;
}
.footer__main__tp {
  padding: 17px 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {

}
.footer-logo img {

}
.f-menu {
  display: flex;
  gap: 32px;
}
.f-menu li {

}
.f-menu li a {
  transition: 0.3s;
}
.f-menu li a:hover {
  color: var(--theme__color1);
}

.footer__main__bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fs-menu {
  gap: 34px;
  display: flex;
}
.fs-menu li {

}
.fs-menu li a {
  font-weight: 500;
  transition: 0.3s;
}
.fs-menu li a:hover {
  color: var(--theme__color1);
}

.fl-menu {
  display: flex;
  gap: 27px;
}
.fl-menu li {

}
.fl-menu li a {
  font-size: 15px;
  font-weight: 400;
  color: rgba(35, 31, 32, 0.6);
  transition: 0.3s;
}
.fl-menu li a:hover {
  color: var(--theme__color1);
}
/* ============ footer-section-end ============ */


/* ============ common-content ============ */
.h2 {
  font-size: 80px;
  line-height: 1.45;
  font-weight: 500;
  text-transform: uppercase;
}
.h2-c {
  font-size: 60px;
  line-height: 1.42;
  font-weight: 500;
  text-transform: uppercase;
}
.h3 {
  font-size: 34px;
  font-weight: 400;  
}
.h5 {
  font-size: 20px;
  margin: 0 0 25px;
  font-weight: 500;
}
.txt-dm {
  color: #AFAFAF;
}
.sec-title {
  margin-bottom: 58px;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  text-align: center;
  align-items: center;
}
.cont-blk .bottom-button {
  margin: 25px 0 0;
}
.cont-blk__bt-line {
  margin-top: 39px;
  width: 100%;
  border-top: 1px solid #BDBCBC;
}
/* ============ common-content-end ============ */



/* ============ hero-section ============ */
.hero-section {
  background: url('images/hero-bg.png') no-repeat center center/cover;
  color: #fff;
}
.hero-section__inner {
  display: flex;
}

.hero__content {
  padding: 274px 0 50px;
  text-align: center;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
}
.hero__content .h1 {
  font-size: 90px;
  line-height: 1.3;
  font-weight: 500;
}
.hero__content .h1 .op8 {
  color: #AFAFAF;
}
.hero-ellipse-start {
  margin: 17px 40px 0 auto;
  height: 215px;
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color1);
  color: #fff;
  border-radius: 50%;
}
.hero-ellipse-start p {
  color: #fff;
}

.hero__content__bt {
  padding: 55px 0 ;
  min-height: 200px;
}
.hero__content-number {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}


/* ============ hero-section-end ============ */



/* ============ we-section ============ */
.we-section {
  padding: 152px 0;
}
.we-section__inner {

}
.we-section__title {

}

.we-section__main {

}
.we-section__main__inner {

}
.clients_nav_blk {
  margin: 60px 0 0;
  display: flex;
}
.clients_nav {
  width: 245px;
  flex-shrink: 0;
  margin: 0 25px 0 0;
}
.clients_nav ul {
  gap: 25px;
  flex-direction: column;
}
.clients_nav ul li {

}
.clients_nav ul li a {
  font-weight: 500;
  transition: 0.3s;
}
.clients_nav ul li a:hover {
  color: var(--theme__color1);
}
.clients_nav_image {
  border-radius: 20px;
  margin-top: auto;
  flex-grow: 1;
}
.clients_nav_image img {
  border-radius: inherit;
  width: 100%;
}

.we__expert-image {
  border: 20px 20px 0 0;
  margin: 60px 0 0;
}
.we__expert-image img {
  border-radius: inherit;
}
/* ============ we-section-end ============ */


/* ============ count-section ============ */
.count-section {
  padding: 240px 0 120px;
}
.count-section__inner {

}

.count__ellipses-wrap {
	display: flex;
	justify-content: center;
}
.count__ellipse {
  --width: 420px;
  text-align: center;
  border: 1px solid #231F20;
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.count__ellipse--2 {
  margin-top: 239px;
  margin-left: -73px;
  --width: 333px;
  z-index: 2;
}
.count__ellipse--3 {
  margin-top: 114px;
  margin-left: -45px;
  --width: 445px;
}
.count-ellipse--theme1 {
  background: var(--theme__color1);
  color: #fff;
  border-color: transparent;
}
.count__ellipse h3 {
  font-size: 65px;
  font-weight: 500;
}
.count__ellipse p {
  font-size: 21px;
  font-weight: 500;
  color: #AFAFAF;
}
.count__ellipse.count-ellipse--theme1 p {
  color: #fff;
}
/* ============ count-section-end ============ */


/* ============ a-section ============ */
.a-section {
  padding: 120px 0;
}
.a-section__inner {

}

.a__slider {

}
.a__slider .owl-stage-outer {
  overflow: visible;
}
.a__slide {
  width: 744px;
  flex-shrink: 0;
}
.a__slide img {

}
/* ============ a-section-end ============ */


/* ============ about-us-section ============ */
.about-us-section {
  padding: 120px 0;
}
.about-us__inner {

}
.about-us__title {

}

.about-us__main {

}
.about-us__main__inner {

}

.about-us__f-image {
  border-radius: 20px;
  margin: 55px 0 0;
}
.about-us__f-image img {
  border-radius: inherit;
}
.about-us__cta-lin {
  margin: 36px 0 0;
  padding: 19px 28px;
  border-radius: 20px;
  gap: 20px;
  background: #231F20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us__cta-lin.white-theme {
  background: #F3F3F3;
}
.about-us__cta-lin p {
  color: rgb(199, 199, 199);
  margin: 0;
}
.about-us__cta-lin.white-theme p {
  color: #7B7979;
}
.about-us__cta-lin p .bold {
  color: #fff;
}
.about-us__cta-lin.white-theme p .bold {
  color: #231F20;
}
.about-us__cta-lin .button {
  flex-shrink: 0;
}
/* ============ about-us-section-end ============ */


/* ============ b-section ============ */
.b-section {
  padding: 120px 0;
}
.b-section__inner  {

}

.b__slider-outer {
  
}
.b__slider {

}
.b__slider .owl-stage-outer {
  overflow: visible;
}
.b__slide {
  border-radius: 24px;
  width: 360px;
  flex-shrink: 0;
}
.b__slide img {
  border-radius: inherit;
}

.b__btm-row {
  margin: 60px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b__btm-row .ellipse__ins {
  height: 215px;
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color1);
  color: #fff;
  border-radius: 50%;
}
.b__btm-row .ellipse__ins p {
  color: #fff;
}
/* ============ b-section-end ============ */



/* ============ attending-section ============ */
.attending-section {
  padding: 120px 0;
}
.attending-section__inner {

}
.attending-section__title {

}

.attending__bx {

}
.attending__bx__title {
  padding-bottom: 34px;
  border-bottom: 1px solid #AFAFAF;
}
.attending__bx__title__nav {
  display: flex;
}
.attending__bx__title__nav li {
  width: 0;
  flex-shrink: 0;
  flex-grow: 1;
}
.attending__bx__title__nav li a {
  text-align: center;
  display: block;
  color: #AFAFAF;
  transition: 0.3s;
}
.attending__bx__title__nav li a.active,
.attending__bx__title__nav li a:hover {
  color: var(--theme__color1);
}

.attending__bx__mc-wrap {

}
.attending__bx__mc {
  padding: 24px 0;
  gap: 18px;
  border-bottom: 1px solid #AFAFAF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  position: relative;
}
.attending__bx__mc:hover {
  border-bottom-color: #231F20;
  z-index: 3;
}
.attending__bx__mc__left {

}
.attending__bx__mc__left h4 {
  font-size: 21px;
  font-weight: 500;
  margin: 0;
  transition: 0.3s;
}
.attending__bx__mc:hover .attending__bx__mc__left h4 {
  color: var(--theme__color1);
}
.attending__bx__mc__right {

}
.attending__bx__mc__right p {
  font-size: 21px;
  color: #AFAFAF;
  margin: 0;
  transition: 0.3s;
}
.attending__bx__mc:hover .attending__bx__mc__right p {
  color: #231F20;
}
.attending__bx__mc__hov-img {
  height: 299px;
  width: 533px;
  border-radius: 20px;
  position: absolute;
  top: 22px;
  left: 380px;
  opacity: 0;
  transition: 0.3s;
}
.attending__bx__mc:hover .attending__bx__mc__hov-img {
  opacity: 1;
}
.attending__bx__mc__hov-img img {
  height: 100%;
  border-radius: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center;
} 

/* ============ attending-section-end ============ */



/* ============ c-section ============ */
.c-section {
  padding: 120px 0 100px;
}
.c-section__inner {

}

.c-box {
  height: 656px;
  border-radius: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.c-box__cont {
  padding: 41px 44px;
  gap: 20px;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.c-box__cont__left {
  padding: 0 0 15px;
}
.c-box__cont__left h5 {
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: 400;
}
.c-box__cont__left h3 {
  font-size: 60px;
  font-weight: 500;
}
.c-box__cont__right {

}
.c-box__cont__right .button {

}
/* ============ c-section-end ============ */



/* ============ project-section ============ */
.project-section {
  padding: 100px 0;
}
.project-section__inner {

}
.project-section__title {
  margin: 0 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.px-fl-menu {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.px-fl-menu li {

}
.px-fl-menu li a {
  font-weight: 500;
  transition: 0.3s;
  color: #7B7979;
}
.px-fl-menu li a.active,
.px-fl-menu li a:hover {
  color: var(--theme__color1);
}

.project__grid {
  margin: 0 0 53px;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 22px;
  grid-row-gap: 53px;
  display: grid;
  grid-auto-flow: dense;
}
.project__grid__item {
  display: flex;
  flex-direction: column;
}
.project__grid__item--r2 {
  grid-row: span 2;
}
.project__grid__item__image {

}
.project__grid__item__image img {

}
.project__grid__item__content {
  padding: 26px 0 0;
}
.project__grid__item__content h3 {
  font-size: 34px;
  font-weight: 500;
}
.project__grid__item__content p {
  font-size: 21px;
  font-weight: 500;
  color: #7B7979;
}
/* ============ project-section-end ============ */


/* ============ blog-g-section ============ */
.blog-g-section {
  padding: 120px 0;
}
.blog-g-section__inner {

}
.blog-g-section__title {
  margin: 0 0 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-g-section__title .h2 {
  margin: 0;
}

.blog-g__wrap {

}
.blog-g__wrap [class*='col'] {
  display: flex;
  flex-direction: column;
}
.blog-g {
  margin-bottom: 24px;
  display: flex;
  background: #F2F2F2;
  border-radius: 20px;
  flex-grow: 1;
}
.blog-g--big {
  min-height: 418px;
}
.blog__cont {
  padding: 31px 23px 25px;
  flex-grow: 1;
}
.blog-g--big .blog__cont {
  padding: 51px 40px;
  display: flex;
  flex-direction: column;
}
.blog__cont_tp {
  margin: 0 0 55px;
  flex-grow: 1;
}
.blog__cont_tp h3 {
  font-size: 24px;
  font-weight: 500;
}
.blog-g--big .blog__cont_tp h3 {
  font-size: 40px;
  line-height: 1.5;
}
.blog__cont__meta {
  display: flex;
  align-items: center;
}
.blog__auth_imt {
  height: 26px;
  width: 26px;
  display: flex;
}
.blog-g--big .blog__auth_imt {
  height: 50px;
  width: 50px;
}
.blog__auth_imt img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.blog__auth__name {
  margin: 0 0 0 11px !important;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.blog-g--big .blog__auth__name {
  margin: 0 0 0 24px !important;
  font-size: 20px;
}
.blog__tag-wrap {
  margin-left: 15px;
  gap: 9px;
  display: flex;
}
.blog__cont__meta .blog__tag {

}
.blog__tag {
  padding: 4px 17px;
  font-size: 14px;
  font-weight: 400;
  background: #E2E2E2;
  border-radius: 41px;
  transition: 0.3s;
}
.blog__tag:hover {
  background: var(--theme__color1);
  color: #fff;
}
.blog__img {
  width: calc(50% - 12px);
  flex-shrink: 0;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
}
.blog__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.blog__tag-wrap--float {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.blog-g--big .blog__tag-wrap--float {
  bottom: 40px;
  right: 40px;
}
/* ============ blog-g-section-end ============ */



/* ============ pagination ============ */
.pagination {
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
}
.pagination ul {
  display: flex;
}
.pagination ul li {

}
.pagination ul li a {
  height: 41px;
  width: 41px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  border-radius: 50%;
  transition: 0.3s;
}
.pagination ul:not(:hover) li a.active,
.pagination ul li a:hover {
  background: #231F20;
  color: #fff;
}
.pagination ul li a.arrow-option {
  font-size: 9px;
}
/* ============ pagination-end ============ */



/* ============ g-review-section ============ */
.g-review-section {
  padding: 120px 0 220px;
}
.g-review-section__inner {

}
.g-review-section__title {
  margin: 0 0 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.g-review-section__title .h2 {
  margin-bottom: 0;
}

.g-review-slider_outer {

}
.g-review-slider {

}
.g-review-slider .owl-stage-outer {
  overflow: visible;
}
.g-review-slide {
  width: 1032px;
  background: url('images/review-bg.png') no-repeat center center/cover;
  border-radius: 24px;
  color: #fff;
}
.g-review-slide__cont {
	padding: 73px 480px 70px 81px;
}
.g-review-slide__cont .g-l-rat {
  margin: 0 0 35px;
  gap: 26px;
  display: flex;
  align-items: center;
}
.g-review-slide__cont .g-l-rat img {
  width: 123px;
}
.g-review-slide__cont .g-l-rat ul {
  gap: 9px;
  display: flex;
}
.g-review-slide__cont .g-l-rat ul li {

}
.g-review-slide__cont .g-l-rat ul li img {
  width: 21px;
}
.g-review-slide__cont h4 {
  font-size: 20px;
  margin: 0 0 26px;
  line-height: 1.5;
  font-weight: 500;
}
.g-review-slide__cont h5 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
  color: #AFAFAF;
}
/* ============ g-review-section-end ============ */



/* ============ about-clip-section ============ */
.about-clip-section {
  padding: 140px 0;
  margin-bottom: 450px;
  background: #E5E5E5;
  background: url('images/about-clip-section.png') no-repeat center center/100% 100%;
}
.about-clip-section__inner {

}

.about-clip__content {

}
.about-clip__auth {
  margin: 0 0 35px;
  display: flex;
  align-items: center;
}
.about-clip__auth .image {
  height: 75px;
  width: 75px;
  margin: 0 30px 0 0;
}
.about-clip__auth .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.about-clip__auth h4 {
  font-size: inherit;
  font-weight: 500;
  color: #7B7979;
  margin: 0;
}
.about-clip__content h3 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 500;
}

.about-clip--counts {
  margin: 250px 0 -470px !important;
}
.count__ellipse--ac-clip-1 {
  margin: 0 0 0 auto;
}
.count__ellipse----ac-clip-2 {
  --width: 333px;
  margin: 165px 0 0 -54px;
}


.about-clip-section.about-clip-section--2nd {
  padding-bottom: 290px;
  margin-bottom: 0;
  background: url('images/about-clip-section-2.png') no-repeat center center/100% 100%;
}
.about-clip-section--2nd-ttl {
  margin-bottom: 140px;
}
/* ============ about-clip-section-end ============ */



/* ============ fe-section ============ */
.fe-section {
  padding: 120px 0;
}
.fe-section__inner {

}
.fe-section__title {

}

.fe-chips {
  margin-top: 58px;
  margin-bottom: 75px;
  gap: 23px;
  display: flex;
  flex-direction: column;
}
.fe-chips-row {
  gap: inherit;
  display: flex;
  flex-wrap: wrap;
}
.fe-chip {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  background: #E2E2E2;
  border-radius: 50px;
  transition: 0.3s;
}
.fe-chip:hover {
  color: #fff;
  background: var(--theme__color1);
}
.fe-chip .icon {
  margin: 0 15px 0 0;
  width: 30px;
  height: 30px;
  display: flex;
}
.fe-chip .icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.fe-chip h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}


.fe__img-grid {
	margin: 150px 0 0;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: 40% 57%;
}
.fe__img-grid__item {
  display: flex;
  flex-direction: column;
}
.fe__img-grid__item .image {

}
.fe__img-grid__item .image img {

}
.fe__img-grid__item p {
  color: #231F20;
}
.fe__img-grid__item--c2 {
  
}
/* ============ fe-section-end ============ */


/* ============ principle-section ============ */
.principle-section {
  padding: 120px 0 220px;
}
.principle-section__inner {

}
.principle-section__title {
  margin-bottom: 82px;
}

.principle__list {
  --hr-padding: 24px;
}
.principle__list__item {
  border-bottom: 1px solid #AFAFAF;
  display: flex;
}
.principle__list__item:first-child {
  border-top: 1px solid #AFAFAF;
}
.principle__list__item .left {
  padding: var(--hr-padding) 0;
  width: 43%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principle__list__item .left h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}
.principle__list__item .right {
  padding: var(--hr-padding) 0;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principle__list__item .right p {

}

.principle__video {
  margin: 140px 0 0;
  position: relative;
}
.principle__video .video-thumb {

}
.principle__video .video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  display: block;
}
.principle__video .video-button .img {
  width: 100%;
}
/* ============ principle-section-end ============ */


/* ============ hwd-section-section ============ */
.hwd-section {
  padding: 300px 0 120px;
}
.hwd-section__inner {

}
.hwd-section__title {

}

.hwd__ic-wrap {
  margin: 0 0 115px;
}
.hwd-card {
  height: 635px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-size: cover !important;
  background-position: center !important;
}
.hwd-card__content {
  padding: 42px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  flex-wrap: wrap;
}
.hwd-card__content__left {

}
.hwd-card__content__left h3 {
  font-size: 60px;
  margin: 0;
  font-weight: 500;
}
.hwd-card__content__right {

}
.hwd-card__content__right .button {

}

.hwd__tc-wrap {
  margin: 0 0 250px;
}
.hwd__tc-wrap p {
  margin: 0 0 25px;
}
/* ============ hwd-section-section-end ============ */


/* ============ cs-section ============ */
.cs-section {
  padding: 40px 0 120px;
}
.cs-section__inner {

}

.case-study__tp-bnr {

}
.case-study__tp-bnr img {
  width: 100%;
}

.cs-section__main {
  margin-top: 100px;
}
.nav-x {

}
.nav-x ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.nav-x ul li {

}
.nav-x ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #7B7979;
  transition: 0.3s;
}
.nav-x ul li a.active,
.nav-x ul li a:hover {
  color: var(--theme__color1);
}
.cs-main-row__inner {

}
.cs__meta-wrap {
  margin: 0 0 90px;
  display: flex;
  gap: 65px;
}
.cs__meta__item {

}
.cs__meta__item h5 {
  font-size: 15px;
  font-weight: 500;
  color: #7B7979;
}
.cs__meta__item h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #231F20;
}
.cs-main-row__inner .h2 {
  margin: 0 0 50px;
}
.cs-main-row__inner p {
  font-weight: 400;
  color: #231F20;
}

.cs__full-image {
  margin: 90px 0 0;
  height: 805px;
}
.cs__full-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
/* ============ cs-section-end ============ */


/* ============ d-section ============ */
.d-section {
  padding: 90px 0;
}
.d-section__inner {

}

.d-section__main {

}
.d-main-row__inner {

}
.d-main-row__inner .h2 {
  margin: 0 0 57px;
}
.d-main-row__inner p {
  font-weight: 400;
  color: #231F20;
}

.d-slider-outer {
  margin: 100px 0 0;
  width: 100%;
}
.d-slider {
  width: 100%;
}
.d-slide {
  width: 1032px;
}
.d-slide .img {

}
/* ============ d-section-end ============ */


/* ============ faq-section ============ */
.faq-section {
  padding: 70px 0 220px;
}
.faq-section__inner {

}
.faq-section__title {
  margin: 0 0 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.faq__cta-line {
  margin: 0 0 99px;
}

.faqs-wrapper {

}
.single-faq {
  border-bottom: 1px solid #B5B5B5;
}
.single-faq:first-child {
  border-top: 1px solid #B5B5B5;
}
.single-faq__title {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.single-faq__title h3 {
  font-size: 24px;
  margin: 0;
  font-weight: 500;
}
.single-faq__title__ind {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #231F20;
  transition: 0.3s;
  flex-shrink: 0;
}
.single-faq__title:not(.collapsed) .single-faq__title__ind {
  background: var(--theme__color1);
}
.single-faq__collapsed {

}
.single-faq__collapsed__inner {
  padding: 12px 30px 40px;
}
.single-faq__collapsed p {
  
}
/* ============ faq-section-end ============ */



/* ============ contact-us-section ============ */
.contact-us-section {
  padding: 73px 0 170px;
}
.contact-us-section__inner {

}

.contact-us__main-row {
  display: flex;
  align-items: center;
}
.contact-us__mr-left {
  flex-grow: 1;
}
.contact-us__cta {
  gap: 60px;
  display: flex;
  flex-direction: column;
}
.contact-us__cta li {

}
.contact-us__cta li a {

}
.contact-us__cta li a h5 {
  font-size: 21px;
  margin: 0 0 13px;
  font-weight: 400;
  color: rgba(35, 31, 32, 0.6);
}
.contact-us__cta li a h3 {
  font-size: 40px;
  margin: 0;
  font-weight: 400;
}
.contact-us__mr-right {
  border-left: 1px solid #231F20;
  flex-shrink: 0;
  width: 37%;
  padding: 80px 0 0 58px;
}
.contact-us__cont-x {

}
.contact-us__cont-x p {
  font-size: 21px;
  font-weight: 400;
}
.contact-us__cont-x h4 {
  font-size: 21px;
  margin: 0 0 27px;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-us__cont-ellipse-start {
  margin: 40px 0 90px;
  height: 215px;
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color1);
  color: #fff;
  border-radius: 50%;
}
.contact-us__cont-ellipse-start p {
  color: #fff;
}
.contact-us__social {
  margin: 79px 0 0;
  display: flex;
  gap: 30px;
}
.contact-us__social li {

}
.contact-us__social li a {
  font-size: 20px;
  font-weight: 500;
  color: #231F20;
  transition: 0.3s;
}
.contact-us__social li a:hover {
  color: var(--theme__color1);
}
/* ============ contact-us-section-end ============ */



/* ============ form-section ============ */
.form-section {
  padding: 94px 0 90px;
}
.form-section__inner {
  padding: 0 10%;
}

.from-page-close {
  font-size: 32px;
}

.form-x {

}
.form-x__title {
  margin: 0 0 60px;
  text-align: center;
}
.form-x__main {

}
.single-input-x {
  margin: 0 0 33px;
}
.input-x {
  font-size: 20px;
  padding: 23px 0;
  line-height: 1.3;
  font-weight: 400;
  color: rgba(35, 31, 32, 0.7);
  width: 100%;
  border: none;
  border-bottom: 1px solid ;
}
/* ============ form-section-end ============ */






/* ============ section ============ */
/* ============ section-end ============ */